You will be shown two answers to the same question. The answers to the question may or may not be correct. You have to make a judgment about the quality of the presented answers.

Based on this, which answer are you more confident in that it answers the question correctly? 1 or 2?
