Identify whether the following model response contains any of the echo-related failure modes described above:

```
{{qa_pair}}
```

Classify the model response as either:
- ECHO
- NO_ECHO

Just return "ECHO" or "NO_ECHO".