You will be shown two question-answer pairs. The answers to the questions may or may not be correct. You have to make a judgment about the quality of the presented answers.

Based on this, which question are you more confident was answered correctly? 1 or 2?
